body {
    /*
background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
*/
    background-image: url(../img/bg1.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background: rgba(60, 60, 60, 0.99);
    box-shadow: 0px 0px 30px 60px rgba(60, 60, 60, 0.99);
   
}

.front{
    z-index: 1;
    background: -moz-linear-gradient(left, rgba(49,139,214,0) 0%, rgba(49,139,214,0.01) 1%, rgba(50,123,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(49,139,214,0) 0%,rgba(49,139,214,0.01) 1%,rgba(50,123,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(49,139,214,0) 0%,rgba(49,139,214,0.01) 1%,rgba(50,123,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
}

.frontright{
    z-index: 1;
   background: -moz-linear-gradient(left, rgba(50,123,153,1) 0%, rgba(49,139,214,0.01) 99%, rgba(49,139,214,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(50,123,153,1) 0%,rgba(49,139,214,0.01) 99%,rgba(49,139,214,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(50,123,153,1) 0%,rgba(49,139,214,0.01) 99%,rgba(49,139,214,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
}

.bigocon{
     padding-top: 6%;
        padding-bottom: 2%;
}

.container-fluid {
    margin-top: 3vh;

}

.shadowreverse{
    background: -moz-linear-gradient(top, rgba(99,99,99,1) 0%, rgba(49,139,214,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(99,99,99,1) 0%,rgba(49,139,214,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(99,99,99,1) 0%,rgba(49,139,214,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0px -60px 30px 10px rgba(99, 99, 99, 0.99);
}

.shadow{
   background: -moz-linear-gradient(top, rgba(49,139,214,0) 0%, rgba(49,139,214,0.01) 1%, rgba(99,99,99,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(49,139,214,0) 0%,rgba(49,139,214,0.01) 1%,rgba(99,99,99,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(49,139,214,0) 0%,rgba(49,139,214,0.01) 1%,rgba(99,99,99,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0px 30px 30px 10px rgba(99, 99, 99, 0.99);
}

.navbar {
    background-color: #000A25;
    width: 100vw;

}
.dropdown-menu{
    margin-top: -3px
}


/*--image styles-*/

.kliknij {
    cursor: pointer;
    left: -50%;
    position: absolute;

}

.smokno {
    width: 100%;
    box-shadow: 0px 0px 20px 10px black;
}

.a1 {

    margin: 10px;
    box-shadow: 0px 0px 30px 10px black;


}

@media only screen and (max-width: 768px) {
    .a1 {
        display: none;
    }
}

.a2 {

    margin: 10px;
    box-shadow: inset 0px 0px 50px 70px #111010;

}

@media only screen and (max-width: 768px) {
    .a2 {
        display: none;
    }
}


.img-fluid {
    width: 100%;
    height: auto;
}

.center {
    width: 100%;
    height: auto;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .b1 {
        width: auto;
    }
}

li .activee {
    color: white!important;
}

/*--carusel-*/

.carousel {
    width: 100%;
    height: auto;
}


.carousel-item .active {
    width: 100%;
    z-index: 1042;
}


/*--typography--*/

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: White;
    text-shadow: 0px 0px 10px red;
    font-weight: bolder;
    font-size: 2.5em;
}



h2 {
    font-family: 'Raleway', sans-serif;;
    color: White;
    
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: White;
    
}

h4 {
    font-family: 'Raleway', sans-serif;
    color: White;
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
    font-size: 3em;
    padding: 1px;
}


.p1 {
    font-family: 'Lusitana', serif;
    color: white;
    padding: 2px;
}

.lead{
    color: azure;
}

a {
    font-family: 'Lusitana', serif;
    color: red;
 
}

a:hover {
    font-family: 'Lusitana', serif;
    Color: white;
    text-shadow: 0px 0px 2px red;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #111010, darkred, #111010);
}


a.page-link {
    background-color: #111010;
    border-color: black;
    color: white;
}

.page-item.active .page-link {
    background-color: darkred;
    border-color: black;
}

.page-item.disabled .page-link {
    background-color: #111010;
    border-color: black;
}

.nav-item {
    margin: 0px 20px;
}

@media screen and (max-width: 480px) {
    .foot {
        display: none;
    }
}

.card-footer {
    padding: 0;
    display: inline-block;
    background-color: rgba(0, 10, 37, 0.5);
    height: 3vh;
}

.foot {}

/*modale*/

.btn-modal {
    transform: rotate(90deg);
    left: -50px;
    top: 60vh;
    position: fixed;

}

.modal-header,
.modal-footer {
    background-color: green;
    color: snow;
}
#uwagi{
    width:90%;
    height: 20%;
}

::-webkit-input-placeholder { text-align:center; }
/*galeria*/

.gallery-header {
    border-bottom: 1px solid white;
}

#gallery-heading {
    font-family: "Lobster";
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    color: white;

}

.gallery-list li {
    margin-left: -3px;
}

.gallery-list li a img {
    cursor: pointer;
    transition: 1s ease;
}

.gallery-list li a img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.img-list {
    width: 100px;
    height: 100px;
}

.img-carousel {
    height: 70vh!important;
    width: 100%;
    border-radius: 10px;
}

.gallery-list-top {
    overflow: hidden;
    padding: 0;
    margin: 0;
    transform: translate(20px, -10px);
    min-width: 80vw;
    overflow-x: auto;
    height: 14vh;
}

.gallery-list-bot {
    overflow: hidden;
    padding: 0;
    margin: 0;
    transform: translate(20px);
    min-width: 80vw;
    overflow-x: auto;
    height: 14vh;
}

.gallery-list-left {
    height: 75vh;
    overflow: auto;

}

.gallery-list-right {
    height: 75vh;
    transform: translateX(55px);
    overflow: auto;
}

.gallery-list-top {
    z-index: 4;
}

.carousel-nav-next {
    transform: translateX(70px);
}

.carousel-nav-prev {
    transform: translateX(-70px);
}

.btn-fullscreen {
    position: absolute;
    right: 3vw;
    top: 65vh;
    z-index: 100000;
}


#modal-img {
    min-width: 50vw;
    width: 55vw;
}

.modal-lg {
    min-width: 57vw;
}

::-webkit-scrollbar {
    display: none;
}

.gallery-list-rwd {
    display: none;
}

.modal-img-size {
    padding: 0;
}

.img-fluid-gallery {
    width: 80vw;
    height: 85vh;
}

modal-dialog {
    background-color: black;
}

@media only screen and (min-width: 768px) {
    .gallery-modal .modal {
        top: 3vh;
        left: -41vw;
    }
}

@media only screen and (max-width: 768px) {
    .gallery-list-rwd {
        display: block;
        margin-left: 20px;
        margin-top: 50px;
    }
    .btn-fullscreen {
        display: none;
    }
    .gallery-list-top {
        display: none;
    }
    .gallery-list-left {
        display: none;
    }
    .gallery-list-right {
        display: none;
    }
    .gallery-list-bot {
        display: none;
    }
    .carousel {
        display: none;
    }
    .carousel-nav-next {
        display: none;
    }
    .carousel-nav-prev {
        display: none;
    }
    .modal-img-size {
        height: 90vh;
        width: 10vw;
        padding: 0;
        margin: 2px;
    }
    .img-fluid-gallery {
        width: 93vw;
        height: 90vh;
    }
}

/*walidacja*/

.wrong {
    border: 3px solid #ad142e;
    border-radius: 2px;
}

.correct {
    border: 3px solid #14ad35;
    border-radius: 2px;
}

.mark-ok {
    color: #14ad35;

}

.mark-wrong {
    color: #ad142e;
}

.mark {
    background-color: inherit;
}

.comment {
    position: absolute;
    transform: translateY(5px);
}

/*Collapsable tables*/

#accordion {
    margin-top: 50px;
}

#headingone {
    background-image: url("../img/1.jpeg");
}

#headingTwo {
    background-image: url("../img/2.jpeg");
}

#headingThree {
    background-image: url("../img/3.jpeg");
}

#headingfour {
    background-image: url("../img/1.jpeg");

}

#headingfive {
    background-image: url("../img/3.jpeg");

}

#headingsix {
    background-image: url("../img/2.jpeg");
}

#accordion .collapse {
    background-color: #111010;
}

#accordion .collapse .show {
    background-color: #111010;
}

.collapsing {
    background-color: #111010;
}

/*animacje*/

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*landing page*/

.curtain {
    box-shadow: inset 0px 0px 60px 20px;
    background-color: rgb(111, 111, 111);
    background-image: url("../img/binding-dark(1).png");
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: hidden;
    z-index: 2;

}

.curtain_bar {
    width: 100%;
    height: 3vh;
    background-color: #ffffff;
    box-shadow: inset 0px 5px 10px 5px gray;
    position: absolute;
    bottom: 0px;

}

.curtain_mid {
    width: 25%;
    margin-top: 5vh;
    margin-left: 37%;
    text-align: center;
}


/*social-buttons*/

.social-text {
    color: snow;
    padding: 20px;
}

.social-fb {
    background-color: #3b5998!important;
}

.social-gp {
    background-color: #d34836!important;
}

.social-ig {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)!important;
}

.social-icon {
    color: snow;
    font-size: 25px;
}

.social {
    position: fixed;
    top: 75vh;
    left: -267px;
}

.social ul {
    padding: 0px;

}

.social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
}

.social ul li:hover {
    transform: translate(110px, 0);
}

.social ul li:hover i {

    transition: all 1s;
}

.social ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
